* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  padding-top: 5rem;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.order-card:hover {
  cursor: pointer;
  background-color: rgb(128, 128, 128, 0.1);
}

.home-container {
  height: 100vh;
  width: 100%;
  display: block;
  position: relative;
}

.home-container::after {
  content: "";
  background-image: url("./assets/background.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home-content-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-container h1 {
  font-size: 5em;
  color: white;
}

.home-content-container a {
  color: white;
  padding: 0 1em;
  text-decoration: underline;
}
